body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	line-height: 1.5;    
}
h3 {
    border-bottom: 1px solid #000000;
}
.texto_principal{
    display: block;
    text-align: justify;
    width: 720px;
    margin: auto;
    padding: 30px 0;
    font-size: 102%
}
.Titulo_Nome{
    width: auto;
	margin: auto;
    text-align: center;
}
footer{
   line-height: 3.0;
    text-align: right;
    
}

a { 
    text-decoration:none; 
    color: inherit;
} 
.objetivo{
    clear:both;
}
.Titulo_Nome {
    font-weight: bold;
    font-size: 2em; 
    
    text-transform: uppercase;
    
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
} 
ul {
    display: block;
    list-style-type: disc;
}
.sub_titulo { 
    font-size: 1.17em; 
    margin: .83em 0;
    font-weight: bolder;
}

b {
    font-weight: bolder;
}
.subcabecalho{
    width: auto;
	margin: auto;
    text-align: center;
    font-style: italic;
}


.foto_perfil {
    width: 115px;
    height: 145px;
    margin-left: -115px;
    margin-bottom: 15px;
    float: right;
    border: 8px solid #C2CCCA;
}
address{
    margin-top: -20px;
    font-style: italic;
    font-size: 18px;
    
}