body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	line-height: 1.2;
}
h3 {
    border-bottom: 1px solid #000000;
}
main {
    text-align: justify;
    width: 720px;
    margin: auto;
}
div p, h1{
    width: auto;
	margin: auto;
    text-align: center;
}

div li {
    font-weight: bold;
}

footer{
   line-height: 3.0;
    text-align: right;
    
}

a { 
    text-decoration:none; 
    color: inherit;
} 


