
main h1 {
    font-size: 60px;
    background-color: #851944;
    color: #FFFFFF;    
    text-align: center;

}
h1, h2 {
    font-family: "Open Sans Condensed","Arial",sans-serif;
}
body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
}

p {
    text-align: justify;
    font-family: "Crimson Text";
}