
main h1 {
    font-size: 60px;
    background-color: #851944;
    color: #FFFFFF;    
    text-align: center;

}

main a {
    color: #851944;
}

h1, h2 {
    font-family: "Open Sans Condensed","Arial",sans-serif;
}
body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
}

p {
    text-align: justify;
    font-family: "Crimson Text";
}

blockquote{
    background-color: #D9E5E3;
    
}
footer{
    background-color: black
    color: #F2FFFC;
    
}
aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

nav a {
    color: #F2FFFC;
}